*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    width: 100%;
    height: auto;
    /* background-color: #20425E;  */
}





/* REGISTER */
.pop-up-reg{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(131, 124, 124, 0.664);
    display: none;
    justify-content: center;
    z-index: 2000;
}
.pop-up-reg .box{
    margin-top: 50px;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    width: 700px;
    height: 550px;
    border-radius: 5px;
    overflow-y: scroll;
}
.pop-up-reg .box .header{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 10px;
}
.pop-up-reg .box h1{
    width: 100%;
    color: #20425E;
    font-weight: normal;
    text-align: center;
}
.pop-up-reg .box .header a{
    cursor: pointer;
    color: #cf0e0e;
    font-size: 40px;
}
.pop-up-reg .box .header a:hover{
    background-color: #b1c9df63;
}
.pop-up-reg .box .body{
    display: flex;
    flex-flow: row nowrap;
}
.pop-up-reg .box .image{
    margin-top: 2rem;
    margin-left: 1rem;
    width: 50%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-up-reg .box .input-field{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2rem;
}
.pop-up-reg .box input, textarea{
    width: 80%;
    padding: 15px;
    font-size: 0.8rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 1px solid rgb(204, 204, 204);
    color: #20425E;
}
.pop-up-reg .box input:hover{
    border: 1px solid #20425E;
}
.pop-up-reg .box .links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.pop-up-reg .box input.submit{
    cursor: pointer;
    background-color: #DA940F;
    color: white;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 25px;
    font-size: 1rem;
}
.pop-up-reg .box input.submit:hover{
    background-color: #997c39;
    border: none;
}
.pop-up-reg .box .links button{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #20425E;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pop-up-reg .box .links button:hover{
    background-color: #546574a4;
}





/* LET'S CALL YOU */
.pop-up-call{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(131, 124, 124, 0.664);
    display: none;
    justify-content: center;
    z-index: 2000;
}
.pop-up-call .box{
    margin-top: 50px;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    width: 700px;
    height: 550px;
    border-radius: 5px;
    overflow-y: scroll;
}
.pop-up-call .box .header{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 10px;
}
.pop-up-call .box h1{
    width: 100%;
    color: #20425E;
    font-weight: normal;
    text-align: center;
}
.pop-up-call .box .header a{
    cursor: pointer;
    color: #cf0e0e;
    font-size: 40px;
}
.pop-up-call .box .header a:hover{
    background-color: #b1c9df63;
}
.pop-up-call .box .image{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-up-call .box img{
    width: 250px;
    height: 250px;
}
.pop-up-call .box .input-field{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2rem;
}
.pop-up-call .box input{
    width: 80%;
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 1px solid rgb(204, 204, 204);
    color: #20425E;
}
.pop-up-call .box input:hover{
    border: 1px solid #20425E;
}
.pop-up-call .box .links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.pop-up-call .box .links a{
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #DA940F;
    color: white;
    margin-left: 35px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 25px;
    font-size: 1rem;
}
.pop-up-call .box a:hover{
    background-color: #997c39;
}
.pop-up-call .box .links button{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #20425E;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pop-up-call .box .links button:hover{
    background-color: #546574a4;
}







/* PRODUCT */
.product{
    width: 100%;
    height: 100vh;
    background-color: #20425E;
}
main{
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    margin: 0rem 7rem;
    padding: 9rem 0rem;
}
main .left{
    width: 45%;
}
main .left h1{
    color: #fff;
    margin-bottom: 2rem;
    width: 100%;
    font-weight: normal;
    font-size: 2.7rem;
}
main .left h1 span{
    color: #DA940F;
}
main .left p{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
main .left .links{
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
main .left .register{
    cursor: pointer;
    padding: 10px 60px;
    background-color: #fff;
    color: #20425E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 2rem;
}
main .left .register:hover{
    background-color: #DA940F;
    color: #fff;
}
main .left .call{
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .left .call:hover{
    background-color: #DA940F;
    color: #fff;
    border: 2px solid rgb(204, 204, 204);
}
main .right{
    width: 45%;
    display: flex;
    margin-left: 1rem;    
}
main .right img{
    width: 100%;
}




/* LOREM */
.lorem{
    width: 100%;
    height: auto;
    background: #fff;
    padding-top: 5rem;
}
.lorem h1{
    width: 70%;
    color: #20425E;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.lorem p{
    width: 80%;
    color: #20425E;
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 4rem;
}
.lorem .body{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.lorem .body .box{
    width: 27%;
    margin: 1rem;
}
.lorem .body .box h1{
    font-size: 1.875rem;
}
.lorem .body .box p{
    font-size: 1.25rem;
}
.lorem .reg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lorem .reg a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: #20425E;
    padding: 10px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 3rem;
}
.lorem .reg a:hover{
    background-color: #DA940F;
}



/* TRAINING */
.training{
    width: 100%;
    height: auto;
    background: rgba(32, 66, 94, 0.05);
    padding-top: 3rem;
}
.training h1{
    width: fit-content;
    margin: auto;
    color: #20425E;
    border-top: 1px solid #DA940F;
    border-bottom: 1px solid #DA940F;
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
}
.training p{
    color: #20425E;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
}
.training .body{
    margin-top: 2.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.training .body .box{
    width: 27%;
    height: auto;
}
.training .body .box .content{
    margin-bottom: 2rem;
}
.training .body .box .content h2{
    color: #20425E;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}    
.training .body .box .content p{
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: left;
}
.discount{
    visibility: hidden;
}
.training .body .one{
    height: 16rem;
}
.training .body .two{
    display: flex;
    justify-content: center;
}
.training .body .box img{
    margin-top: 3rem;
    width: 70%;
    height: 60%;
}
.training .links{
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;

}
.training .register{
    cursor: pointer;
    padding: 10px 60px;
    background-color: #20425E;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 1.5rem;
}
.training .register:hover{
    background-color: #DA940F;
}
.training .call{
    padding: 10px 20px;
    border: 2px solid #20425E;
    background-color: #fff;
    border-radius: 10px;
    color: #20425E;
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3rem;
}
.training .call:hover{
    background-color: #DA940F;
    color: #fff;
    border: 2px solid rgb(204, 204, 204);
}



/* GROW WITH HARVOXX */
.grow{
    background-color: #fff;
}
.grow h1{
    margin-top: 5rem;
    text-align: center;
    color: #20425E;
}
.grow .body{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.grow .body .box{
    width: 27%;
    height: 16rem;
    margin: 1rem;
    background-color: #20425E;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13.6411px;
}
.grow .body .box h3{
    margin-top: 2rem;
    text-align: center;
    color: #DA940F;
}
.grow .body .box p{
    color: #fff;
    text-align: center;
    width: 85%;
    margin: auto;
    margin-top: 2rem;
    line-height: 1.5rem;
    font-size: 1.25rem;
} 
.grow .reg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grow .reg a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: #20425E;
    padding: 10px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 4rem;
}
.grow .reg a:hover{
    background-color: #DA940F;
}


@media screen and (max-width: 1000px) {
    /* REGISTER MOBILE */
    .pop-up-reg .box{
        width: 320px;
        height: 580px;
    }
    .pop-up-reg .box .image{
        display: none;
    }
    .pop-up-reg .box .input-field{
        width: 100%;
        align-items: center;
        
    }
    .pop-up-reg .box input, textarea{
        width: 70%;
        font-size: 1rem;
    }
    .pop-up-reg .box input.submit{
        margin-top: 0.5rem;
        width: 80%;
    }




    /* CALL MOBILE */
    .pop-up-call .box{
        width: 320px;
    }


    /* PRODUCT MOBILE */
    .product{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 4rem 0rem;
    }
    main .left{
        width: 90%;
    }
    main .left h1{
        font-size: 2.35rem;
        text-align: center;
        margin: auto;
        margin-bottom: 1rem;
    }
    main .left p{
        width: 95%;
        text-align: center;
        margin: auto;
    }
    main .left .links{
        margin-bottom: 5rem;
        font-size: 1.15rem;
    }
    main .left .register{
        padding: 10px 100px;
    }
    main .left .call{
        padding: 10px 50px;
    }
    main .right{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;    
    }
    main .right img{
        width: 91%;
    }



    /* LOREM MOBILE */
    .lorem h1{
        width: 90%;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    .lorem p{
        padding-bottom: 2rem;
    }
    .lorem .body{
        flex-flow: column wrap;
        align-items: center;
        margin-bottom: 2rem;
    }
    .lorem .body .box{
        width: 90%;
        margin-bottom: 0;
    }
    .lorem .body .box h1{
        margin-bottom: 1rem;
    }
    .lorem .reg a{
        padding: 10px 100px;
        margin-bottom: 4rem;
        font-size: 1.15rem;
    }


    /* TRAINING MOBILE */
    .training{
        padding-top: 5rem;
    }
    .training h1{
        margin-bottom: 2rem;
    }
    .training p{
        width: 78%;
    }
    .training .body{
        flex-flow: column wrap;
        align-items: center;
        margin-top: 0;
    }
    .training .body .box{
        width: 80%;
    }
    .training .body .box .content h2{
        text-align: center;
        margin-bottom: 0.5rem;
        margin-top: 3rem;
    }    
    .training .body .box .content p{
        text-align: center;
    }
    .training .body .one{
        height: auto;
    }
    .training .body .two{
        width: 70%;
    }
    .training .body .box img{
        margin-top: 1rem;
        width: 100%;
        height: auto;
    }
    .training .register{
        padding: 10px 98px;
        font-size: 1.15rem;
    }
    .training .call{
        padding: 10px 50px;
        font-size: 1.15rem;
    }


    /* GROW MOBILE */
    .grow h1{
        margin-top: 4rem;
        font-size: 2rem;
    }
    .grow .body{
        flex-flow: column wrap;
        align-items: center;
    }
    .grow .body .box{
        width: 75%;
    }
    .grow .reg a{
        padding: 10px 110px;
        font-size: 1.15rem;
    }

}